.base-skeleton {
    background-color: rgba(122, 122, 122, 0.11);
    height: 1em;
    width: 30px;
    display: block;
    animation: mag-ske-animation 2s ease-in-out 0.5s infinite;
    border-radius: 6px;
    margin-bottom: 5px;
}

@keyframes mag-ske-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}